<ul class="destination-list background-image-plane">
  {{#each destinations}}
    <li class="destination-item">
      <div class="destination-details">
        <h2>{{name}}</h2>
        <img class="destination-image" src="{{image_url}}" alt="{{name}}" />
        <div class="destination-info">
          <p>Region: {{region}}</p>
          <p>Country: {{country}}</p>
          <p>Number of Hotels: {{nr_hotels}}</p>
        </div>
      </div>
    </li>
  {{/each}}
</ul>

