<ul class="flight-list">
  {{#each flights}}
    <li class="flight-item">
      <div class="flight">
        <h2>{{airline}}</h2>
        <p>Price: {{price}}</p>
        <p>Departure: {{departure}}</p>
        <p>Arrival: {{arrival}}</p>
        <p>Duration: {{duration}}</p>
      </div>
    </li>
  {{/each}}
</ul>
