<nav class="nav">
  <ul class="submenu">
    {{#each submenus}}
      <li class="nav-item">
        <a href="{{this.route}}" class="dropdown-trigger">{{this.title}}</a>
        <div class="dropdown">
          <ul class="countries">
            {{#each this.countries}}
              <li>
                <a class="tari" href="{{this.route}}">{{this.name}}</a>
                <ul class="cities">
                  {{#each this.cities}}
                    <li><a class="orase" href="{{this.route}}">{{this.name}}</a></li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
</nav>
